* {
  box-sizing: inherit;
}

html,
body {
  border: none;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font: 1.2em sans-serif;
  margin: 1rem;
}

.menu {
  display: inline-block;

  button {
    anchor-name: --menu;
  }

  .menu__mainpopover {
    border: 1px solid black;
    width: 120px;
    inset: unset;

    top: calc(anchor(self-end) + 0.25rem); /* === anchor(bottom) */
    left: anchor(self-start); /* === anchor(left) */
    position-anchor: --menu;

    & .menu__listcontainer {
      display: flex;
      flex-direction: column;
    }

    a {
      flex: 1;
      text-decoration: none;
      outline: none;
      text-align: center;
      line-height: 3;
      color: black;

      &:link,
      &:visited {
        background: palegoldenrod;
        color: black;
      }

      &:hover,
      &:focus {
        background: orange;
      }

      &:active {
        background: darkred;
        color: white;
      }
    }
  }
}
